[submodule "thirdparty/vibe"]
	path = thirdparty/vibe
	url = https://bitbucket.org/vadimkalikin/vibe.git
	branch = RT
[submodule "thirdparty/impersonator"]
	path = thirdparty/impersonator
	url = https://bitbucket.org/kazendi/impersonator.git
	branch = RT
[submodule "thirdparty/yolo"]
	path = thirdparty/yolo
	url = https://bitbucket.org/kazendi/yolov3.git
	branch = RT
[submodule "thirdparty/retinafacert"]
	path = thirdparty/retinafacert
	url = https://bitbucket.org/kazendi/retinafacert.git
	branch = RT
