[submodule "thirdparty/vibe"]
	path = thirdparty/vibe
	url = https://github.com/darkAlert/vibe-rt.git
	branch = RT
[submodule "thirdparty/impersonator"]
	path = thirdparty/impersonator
	url = https://github.com/darkAlert/impersonator-rt.git
	branch = RT
[submodule "thirdparty/yolo"]
	path = thirdparty/yolo
	url = https://github.com/darkAlert/yolov3-rt.git
	branch = RT
