aus:
  model_path: '/home/user/models/action_units_model_resnet_50.pt'
  img_size: 224
  gpu_id: '0'

input:
  warmup_img: '/home/user/holoportrt/holoport/tests/samples/img0.jpeg'
  warmup_face: '/home/user/holoportrt/holoport/tests/samples/img0_faces.pkl'

output:
  result_dir: '/home/user/test/aus/t1'
