retina:
  model_path: '/home/user/RetinaFace/weights/mobilenet0.25_Final.pth'
  pretrain_mobilenet: '/home/user/RetinaFace/weights/mobilenetV1X0.25_pretrain.tar'
  network: 'mobile0.25'
  threshold: 0.6
  img_width: 1920
  img_hight: 1080
  main_face: True
  gpu_id: '0'
  cudnn_benchmark: True

input:
  warmup_img: '/home/user/holoportrt/holoport/tests/samples/img0.jpeg'
  frames_dir: '/home/user/HoloVideo/Data/frames'
  target_path: 'person_2/light-100_temp-5600/garments_2/front_position/cam1'

output:
  result_dir: '/home/user/test/retinaface/t1'
