vibe:
  root_dir: '/home/username/builds/VibeRT/vibert/data/vibe_data'
  seqlen: 1
  scale: 1.1
  crop_size: 224
  gpu_id: '0'

input:
  frames_dir: '/home/username/HoloVideo/Data/frames'
  yolo_bboxes_dir: '/home/username/HoloVideo/Data/bboxes_by_maskrcnn'
  avatar_bboxes_dir: '/home/username/HoloVideo/Data/bboxes'
  target_path: 'person_2/light-100_temp-5600/garments_2/front_position/cam1'

output:
  result_dir: '/home/username/HoloVideo/Data/output/vibe/t1'

