yolo:
  cfg_path: '/home/username/builds/yolov3/yolort/cfg/yolov3-spp.cfg'
  weights_path: '/home/username/builds/yolov3/yolort/weights/yolov3-spp-ultralytics.pt'
  names_path: '/home/username/builds/yolov3/yolort/data/coco.names'
  img_size: 512
  gpu_id: '1'
  half: False

vibe:
  root_dir: '/home/username/builds/VibeRT/vibert/data/vibe_data'
  seqlen: 1
  scale: 1.1
  crop_size: 224
  gpu_id: '1'

lwgan:
  gen_name: "holoportator"
  image_size: 256
  bg_ks: 11
  ft_ks: 3
  has_detector: False
  post_tune: False
  front_warp: False
  save_res: False
  n_threads_test: 4
  load_path: '/home/username/builds/impersonator/outputs/Holo_iPER/net_epoch_20_id_G.pth'
  smpl_model: '/home/username/builds/impersonator/assets/pretrains/smpl_model.pkl'
  hmr_model: '/home/username/builds/impersonator/assets/pretrains/hmr_tf2pt.pth'
  smpl_faces: '/home/username/builds/impersonator/assets/pretrains/smpl_faces.npy'
  uv_mapping: '/home/username/builds/impersonator/assets/pretrains/mapper.txt'
  part_info: '/home/username/builds/impersonator/assets/pretrains/smpl_part_info.json'
  front_info: '/home/username/builds/impersonator/assets/pretrains/front_facial.json'
  head_info: '/home/username/builds/impersonator/assets/pretrains/head.json'
  gpu_ids: '0'

input:
  warmup_img: '/home/username/holoportrt/holoport/tests/samples/img0.jpeg'
  frames_dir: '/home/username/HoloVideo/Data/frames'
  target_path: 'person_2/light-100_temp-5600/garments_2/front_position/cam1'
  view: 'R=0,90,0/t=0,0,0'
  steps: 1
  scene_bbox: '575,150,850,850'

output:
  result_dir: '/home/username/HoloVideo/Data/output/yolo_vibe_lwgan/t1'


